$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.table-full {
  width:100%;
}

.table-full tr td.button {
  width:100px;
}
@import "styles/global/var.scss";
@import "styles/bootstrap-sass/bootstrap";
// @import "styles/global/var-pages.scss";

@import "compass/css3";

// Component styles are injected through grunt
// injector
@import 'assets/dashboard.scss';
@import 'routes/account/lock/lock.scss';
@import 'routes/account/login/login.scss';
@import 'routes/admin/admin.scss';
@import 'routes/main/main.scss';
@import 'routes/task/task.scss';
@import 'styles/bootstrap-sass/bootstrap.scss';
@import 'styles/bootstrap-sass/bootstrap/alerts.scss';
@import 'styles/bootstrap-sass/bootstrap/badges.scss';
@import 'styles/bootstrap-sass/bootstrap/bootstrap.scss';
@import 'styles/bootstrap-sass/bootstrap/breadcrumbs.scss';
@import 'styles/bootstrap-sass/bootstrap/button-groups.scss';
@import 'styles/bootstrap-sass/bootstrap/buttons.scss';
@import 'styles/bootstrap-sass/bootstrap/carousel.scss';
@import 'styles/bootstrap-sass/bootstrap/close.scss';
@import 'styles/bootstrap-sass/bootstrap/code.scss';
@import 'styles/bootstrap-sass/bootstrap/component-animations.scss';
@import 'styles/bootstrap-sass/bootstrap/dropdowns.scss';
@import 'styles/bootstrap-sass/bootstrap/forms.scss';
@import 'styles/bootstrap-sass/bootstrap/glyphicons.scss';
@import 'styles/bootstrap-sass/bootstrap/grid-origin.scss';
@import 'styles/bootstrap-sass/bootstrap/grid.scss';
@import 'styles/bootstrap-sass/bootstrap/input-groups.scss';
@import 'styles/bootstrap-sass/bootstrap/jumbotron.scss';
@import 'styles/bootstrap-sass/bootstrap/labels.scss';
@import 'styles/bootstrap-sass/bootstrap/list-group.scss';
@import 'styles/bootstrap-sass/bootstrap/media.scss';
@import 'styles/bootstrap-sass/bootstrap/mixins.scss';
@import 'styles/bootstrap-sass/bootstrap/modals.scss';
@import 'styles/bootstrap-sass/bootstrap/navbar.scss';
@import 'styles/bootstrap-sass/bootstrap/navs.scss';
@import 'styles/bootstrap-sass/bootstrap/normalize.scss';
@import 'styles/bootstrap-sass/bootstrap/pager.scss';
@import 'styles/bootstrap-sass/bootstrap/pagination.scss';
@import 'styles/bootstrap-sass/bootstrap/panels.scss';
@import 'styles/bootstrap-sass/bootstrap/popovers.scss';
@import 'styles/bootstrap-sass/bootstrap/print.scss';
@import 'styles/bootstrap-sass/bootstrap/progress-bars.scss';
@import 'styles/bootstrap-sass/bootstrap/responsive-utilities.scss';
@import 'styles/bootstrap-sass/bootstrap/scaffolding.scss';
@import 'styles/bootstrap-sass/bootstrap/tables.scss';
@import 'styles/bootstrap-sass/bootstrap/theme.scss';
@import 'styles/bootstrap-sass/bootstrap/thumbnails.scss';
@import 'styles/bootstrap-sass/bootstrap/tooltip.scss';
@import 'styles/bootstrap-sass/bootstrap/type.scss';
@import 'styles/bootstrap-sass/bootstrap/utilities.scss';
@import 'styles/bootstrap-sass/bootstrap/variables-origin.scss';
@import 'styles/bootstrap-sass/bootstrap/variables.scss';
@import 'styles/bootstrap-sass/bootstrap/wells.scss';
@import 'styles/global/var-pages.scss';
@import 'styles/global/var.scss';
@import 'styles/main.scss';
@import 'styles/pages/about.scss';
@import 'styles/pages/contact.scss';
@import 'styles/pages/dashboard.scss';
@import 'styles/pages/demo.scss';
@import 'styles/pages/err.scss';
@import 'styles/pages/lock-screen.scss';
@import 'styles/pages/pages.scss';
@import 'styles/pages/profile.scss';
@import 'styles/pages/services.scss';
@import 'styles/pages/signin_signup.scss';
@import 'styles/pages/tasks.scss';
@import 'styles/pages/ui.scss';
@import 'styles/plugins/angular-ui-tree.scss';
@import 'styles/plugins/angular-wizard.scss';
@import 'styles/plugins/bootstrap-slider.scss';
@import 'styles/plugins/bootstrap-tagsinput.scss';
@import 'styles/plugins/easypiecharts.scss';
@import 'styles/plugins/jquery-nestable.scss';
@import 'styles/plugins/jquery-steps.scss';
@import 'styles/plugins/jqvmap.scss';
@import 'styles/plugins/morris.scss';
@import 'styles/plugins/responsive-tables.scss';
@import 'styles/plugins/sparkline.scss';
@import 'styles/plugins/toastr.scss';
@import 'styles/sections/content.scss';
@import 'styles/sections/form.scss';
@import 'styles/sections/header.scss';
@import 'styles/sections/nav-min.scss';
@import 'styles/sections/nav-off-canvas.scss';
@import 'styles/sections/nav.scss';
@import 'styles/ui/components/accordion.scss';
@import 'styles/ui/components/animation.scss';
@import 'styles/ui/components/badges.scss';
@import 'styles/ui/components/breadcrumbs.scss';
@import 'styles/ui/components/buttons.scss';
@import 'styles/ui/components/callout.scss';
@import 'styles/ui/components/charts.scss';
@import 'styles/ui/components/dropdowns.scss';
@import 'styles/ui/components/form-checkbox_radio.scss';
@import 'styles/ui/components/form-editor.scss';
@import 'styles/ui/components/form-elements.scss';
@import 'styles/ui/components/form-input.scss';
@import 'styles/ui/components/form-select.scss';
@import 'styles/ui/components/form-spinner.scss';
@import 'styles/ui/components/form-switch.scss';
@import 'styles/ui/components/grid.scss';
@import 'styles/ui/components/icons.scss';
@import 'styles/ui/components/image-size.scss';
@import 'styles/ui/components/labels.scss';
@import 'styles/ui/components/list-group.scss';
@import 'styles/ui/components/mail-compose.scss';
@import 'styles/ui/components/mail.scss';
@import 'styles/ui/components/map.scss';
@import 'styles/ui/components/navs.scss';
@import 'styles/ui/components/pagination.scss';
@import 'styles/ui/components/panels.scss';
@import 'styles/ui/components/pricing-tables.scss';
@import 'styles/ui/components/progress-bars.scss';
@import 'styles/ui/components/scaffolding.scss';
@import 'styles/ui/components/sprites.scss';
@import 'styles/ui/components/tab.scss';
@import 'styles/ui/components/tables-responsive.scss';
@import 'styles/ui/components/tables.scss';
@import 'styles/ui/components/timeline.scss';
@import 'styles/ui/components/type.scss';
@import 'styles/ui/ui.scss';
@import 'styles/ui/var.scss';
@import 'modal/modal.scss';
// endinjector